[Unit]
Description=Washer Observer
## make sure we only start the service after network is up
Wants=network-online.target
After=network.target

[Service]
## use 'Type=forking' if the service backgrounds itself
## other values are Type=simple (default) and Type=oneshot
Type=simple
## here we can set custom environment variables
ExecStart=/usr/bin/python3 -u /home/pi/alexa-remote-control/search.py
WorkingDirectory=/home/pi/alexa-remote-control
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

#ExecStop=/usr/bin/killall -9 startCameraStream.sh
### NOTE: you can have multiple `ExecStop` lines
#ExecStop=/usr/bin/killall python3
# don't use 'nobody' if your script needs to access user files
# (if User is not set the service will run as root)
#User=nobody

# Useful during debugging; remove it once the service is working
#StandardOutput=console

[Install]
WantedBy=multi-user.target
